* {
	padding: 0;
	margin: 0;
	background-color: grey;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
}

.greeting {
	text-align: center;
}
header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#get-grid-size {
	padding: 16px;
	margin: 4px;
	border-radius: 8px;
	background-color: brown;
	cursor: alias;
}
#colorModes {
	display: flex;
	justify-content: space-evenly;
	width: 400px;
	flex-direction: row;
	align-content: stretch;
}
#colorModes > div > div {
	height: 50px;
	width: 50px;
	border-radius: 10%; 
}
#colorModes #green {
	background-color: greenyellow;
}
#colorModes #rainbow {
	background-color: rgb(134, 24, 24);
}
#colorModes #eraser {
	background-color: rgb(66, 44, 44);
}
#colorModes #clear {
	background-color: rgb(155, 122, 122);
}
#colorModes > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}




main {
	display: flex;
	height: 600px;
	width: 600px;
}
.grid-container {
	background-color: rgb(12, 15, 25);
	margin: 48px;
	padding: 8px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

footer {
	height: 32px;
	width: 100%;
	background-color: rgb(120, 100, 18);
	display: flex;
	justify-content: center;
	align-items: center;
}

.block {
	background-color: rgb(170, 170, 170);
	border-radius: 4px;
	transition: background-color 0.5s;
}
.block:hover {
	background-color: rgb(25, 60, 20);
}
.blocksRow {
	display: flex;
	flex: 1;
}
.blocksRow > * {
	flex: 1;
}

