* {
	padding: 0;
	margin: 0;
	background-color: #3b2222;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
}

.greeting {
	text-align: center;
}
header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#brushModes {
	display: flex;
	justify-content: space-evenly;
	width: 100px;
	flex-direction: column;
	align-items: center;
}
.brush {
	height: 50px;
	width: 50px;
	border-radius: 10%; 
	transition: all 0.3s ease;
}
.brush.hovered {
	height: 70px;
	width: 70px;
}
.brush.clicked {
	height: 80px;
	width: 80px;
}

#brushModes #black {
	background-color: black;
}
#brushModes #rainbow {
	background-color:  rgb(134, 24, 24);
}
#brushModes #eraser {
	background-color: rgb(170, 170, 170);
}
#brushModes #clear {
	background-color: rgb(155, 122, 122);
}
#brushModes > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


main {
	display: flex;
	flex-direction: row;
}
#gridStuff > * {
	width: 500px;
	margin: 16px;
}
#sizeSliderStuff {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.grid-container {
	background-color: rgb(70, 56, 22);
	padding: 8px;
	border-radius: 8px;
	/* margin-bottom: 0px; */
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	aspect-ratio: 1/1;
}
main .clearButton {
	height: 40px;
	background-color: rgb(170, 170, 170);
}

footer {
	height: 32px;
	width: 100%;
	background-color: rgb(120, 100, 18);
	display: flex;
	justify-content: center;
	align-items: center;
}

.block {
	background-color: rgb(170, 170, 170);
	border-radius: 4px;
	transition: background-color 0.5s;
}
.block:hover {
	background-color: rgb(159, 194, 34);
}
.blocksRow {
	display: flex;
	flex: 1;
}
.blocksRow > * {
	flex: 1;
}


